// colors
$color-primary: #FF6060;
// $color-secondary: #FF79DA;
// $color-tertiary-light: #99E2D0;
// $color-tertiary-dark:#008766;
$color-grey: #F6F6F6;
$color-white: #FFFFFF;
$color-linear-gradient : linear-gradient(7deg,black -40%, $color-primary 92%);

// background colors
// $color-bg-banner: #F7F7F7;
// $color-bg-local:#EAEAEA;

// color background footer
// $color-footer: #353535;
$font:'Montserrat', sans-serif;
// // color police
$color-black: #000;

// // taille police
// $size-fifteen: 15px;
// $size-sixteen: 16px;
// $size-seventeen: 17px;
// $size-eighteen: 18px;
// $size-twenty-four: 24px;

// // media
// $tablet-iphone: 768px;
$desktop: 1440px;
