@use "../utils/keyframes.scss" as *;
@use "../utils/variables.scss" as *;

.accordeon {
    .title{
        background:#ff6060;
        color:#f6f6f6;
        padding:20px;
        font-size:40px;
        cursor:pointer;
    }
    .content{
        background:#f6f6f6;
        color:#ff6060;
        padding:20px;
        font-size:16px;
        height:0px;
        display: none;
        transition: all 1s;
        .open{
            height:auto;
            display: block;
        }
    }
    .arrow{
        color:#f6f6f6;
        font-size:40px;
        transform: rotate(-90);
        transition: all 1s;
        .open{
            transform: rotate(90);
        }
    }
}