@use "../utils/keyframes.scss" as *;
@use "../utils/variables.scss" as *;

.photoAbout {
    font-size: 48px;
    font-weight: 500;
    border-radius: 20px;
    color: $color-white;
    background: url('../assets/imageSource2.png') no-repeat ;
    background-size: 100%;
    background-position: center;
    height: 220px;
    display: flex;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.accordeon {
    margin-left: 200px;
    .title{
        background:$color-primary;
        border-radius: 5px;
        margin-bottom: 15px;
        color: $color-white;
        width: 1000px;
        height: 52px;
        font-size:24px;
        cursor:pointer;
    }
    .content{
        background:$color-white;
        border-radius: 5px;
        color:$color-primary;
        font-size:24px;
        width: 1000px;
        height:0px;
        transition: all 0.3s;
    }
    .content.open{
        border-radius: 5px;
        width: 1000px;
        height: 52px;
        height:auto;
        display: block;
    }
    .arrow{
        display: inline-flex;
        color:$color-white;
        font-size:40px;
        transition: all 0.3s;
        transform: rotateX(180deg);
    }
    .arrow.open{
        transform: rotate(0deg);
        transition: all 0.4s ease-in-out;
    }
}